@media (min-width: 1440px) {
    .container {
        max-width: 100%;
        padding-inline: 75px;
    }
}

@media (min-width: 1440px) and (max-width:1800px) {
    .inner-media img {
        height: 500px !important;
    }
}

@media (max-width:1800px) {
    .extra-elements img {
        width: 20%;
    }

    .bear-box {
        margin-top: -110px;
    }

    .card {
        width: 100%;
        padding: 20px;
    }

    .inner-media {
        padding: 0;
    }

    .inner-textarea {
        padding: 0;
    }

    .inner-textarea p {
        font-size: 20px;
    }

    .inner-media img {
        width: 100%;
        height: 100%;
        padding-left: 20px;
    }

    .hero-container {
        height: 700px;
    }

}