@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Montserrat", sans-serif; */
/* font-family: "Jost", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --logo-color: #C4C4C4;
    --card-bg: #16151A;
}

body {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s ease;
    font-weight: 400;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* rows and columns  */

.container {
    max-width: 1920px;
    padding-inline: 75px;
    margin-inline: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

/* buttons  */

.btn {
    width: 270px;
    height: 80px;
    font-size: 30px;
    font-weight: 600;
    line-height: 43px;
    border-radius: 100px;
    text-align: center;
    align-content: center;
}

.primary-btn {
    color: #FFFFFF;
    background: linear-gradient(115.11deg, #380036 6.12%, #0CBABA 128.27%);
}

.gradient-color-text {
    background: -webkit-linear-gradient(267.73deg, #380036 -19.72%, #0CBABA 121.69%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    transition: all 0s ease;
}

.primary-btn:hover {
    background: -webkit-linear-gradient(267.73deg, #380036 -19.72%, #0CBABA 121.69%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#gradient-hover:hover {
    -webkit-text-fill-color: #FFFFFF;
    color: #FFFFFF;
    background: linear-gradient(115.11deg, #380036 6.12%, #0CBABA 128.27%);
    border-radius: 100px;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
}

.logo {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0.25em;
    color: var(--logo-color);
}

.right {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-image {
    width: 60px;
}

.round-image {
    width: 60px;
    margin-left: 30px;
}

/* section one */

.hero-container {
    height: calc(100vh - 156px);
    max-width: 1920px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.hero-bg {
    background-image: url("/assets/images/hero-bg-img.png");
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 1920px;
    margin-inline: auto;
}

.hero-section {
    height: 100vh;
    max-width: 1920px;
    margin-inline: auto;
}

.bear-box {
    color: #FFFFFF;
    text-align: center;
    margin-top: -75px;
}

.bear-box h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

.owned-by {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    opacity: 50%;
}

.richard {
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.arrow p {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    padding-left: 30px;
}

.arrow img {
    border-radius: 200px;
    padding: 13px;
    background: linear-gradient(115.11deg, #380036 6.12%, #0CBABA 128.27%);
    cursor: pointer;
}

.btns {
    display: flex;
}

.btns-box-bottom {
    margin-top: auto;
    padding-bottom: 75px;
}

.m-left {
    margin-left: 30px;
}

.btns span, .bear-box {
    cursor: pointer;
}

.primary-btn.m-left:hover::after {
    content: url('/assets/images/explore-border.svg');
    position: absolute;
    left: 50%;
    margin-top: -15px;
    margin-left: 15px;
}

.extra-elements {
    position: relative;
}

.extra-elements img {
    position: absolute;
    right: 75px;
    bottom: 75px;
}

/* section two */

.top-sellers {
    background: black;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.left-outer-content {
    display: inline-block;
    padding-top: 75px;
}

.heading-line {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 20px;
}

.heading-line h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #FFFFFF;
    margin-right: 50px;
}

hr {
    width: 105px;
    margin-top: 15px;
}

.left-outer-content p {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    background: linear-gradient(291.84deg, #380036 5.38%, #0CBABA 93.3%);
    background-clip: text;
}

.right-outer-content {
    float: right;
    display: flex;
    padding-top: 125px;
    padding-bottom: 117px;
}

.right-outer-content a {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #FFFFFF;
}

.right-outer-content a:hover {
    opacity: 0.5;
}

.view {
    margin-right: 99px;
}

.right-outer-content img {
    width: 24px;
    height: 24px;
}
  
.cards-container {
    display: flex;
    align-items: center;
    padding-bottom: 200px;
    width: 100%;
}

.cards-container .row {
    flex-wrap: nowrap !important;
    margin-left: 0;
}

.card {
    background: #16151A;
    width: 870px;
    border-radius: 20px;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
}

.card:not(:last-child) {
    margin-right: 30px;
    margin-left: 0;
}

.flex-cont {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.inner-cont1 {
    padding-left: 30px;
}

.inner-cont1 img {
    padding-bottom: 50px;
}

.inner-cont2 {
    padding: 57px 30px 57px 54px;
}

.inner-cont2 img {
    width: 560px;
    height: 586px;
}

.inner-cont1 p {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #FFFFFF;
    white-space: nowrap;
    padding-bottom: 67px;
}

.special-word {
    font-weight: 500;
    opacity: 50%;
}

.card-btn {
    width: 150px;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    z-index: 999;
    text-align: center;
}

.date-overflow {
    position: absolute;
    right: 0;
}

.slick-slider {
    margin-left: 0;
    position: relative;
    max-width: 100%;
}

.slick-initialized .slick-slide {
    display: flex !important;
}

.zig-zag {
    background-image: url("../images/zig-zag-white.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    max-width: 1920px;
    margin-inline: auto;
}