@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Montserrat", sans-serif; */
/* font-family: "Jost", sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --logo-color: #C4C4C4;
    --card-bg: #16151A;
}

body {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s ease;
    font-weight: 400;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* rows and columns  */

.container {
    max-width: 1440px;
    padding-inline: 75px;
    margin-inline: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

/* buttons  */

.primary-btn {
    font-size: 30px;
    font-weight: 600;
    line-height: 43px;
    border-radius: 100px;
    width: 270px;
    height: 80px;
    color: #FFFFFF;
    background: linear-gradient(115.11deg, #380036 6.12%, #0CBABA 128.27%);
    text-align: center;
    align-content: center;
}

.gradient-color-text {
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    align-content: center;
    width: 270px;
    height: 80px;
    font-weight: 700;
    background: -webkit-linear-gradient(267.73deg, #380036 -19.72%, #0CBABA 121.69%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    transition: all 0s ease;
}

.primary-btn:hover {
    background: -webkit-linear-gradient(267.73deg, #380036 -19.72%, #0CBABA 121.69%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#gradient-hover:hover {
    -webkit-text-fill-color: #FFFFFF;
    color: #FFFFFF;
    background: linear-gradient(115.11deg, #380036 6.12%, #0CBABA 128.27%);
    border-radius: 100px;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
}

.logo {
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0.25em;
    color: var(--logo-color);
}

.right {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-image {
    width: 60px;
}

.round-image {
    width: 60px;
    margin-left: 30px;
}

.hero-section {
    margin-top: -25px;
    max-width: 1440px;
    margin-inline: auto;
}

.overlay-bg {
    background-image: url("/assets/images/main-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: relative;
    background-position: bottom;
}

.circle-bg {
    background-image: url("/assets/images/nfts-circle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
    z-index: -1;
    position: relative;
    bottom: 100px;
}

.dragons-bg {
    background-image: url("/assets/images/nfts.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 70%;
    background-position-y: 60%;
    z-index: 1;
    position: relative;
    bottom: 30px;
}

.dragon1 {
    position: absolute;
    top: 50%;
    left: 3%;
    width: 30%;
}

.dragon2 {
    position: relative;
    top: 135px;
    left: 30%;
    padding-bottom: 120px;
}

.dragon3 {
    position: absolute;
    top: 45%;
    right: 0;
}

.bear-box {
    position: absolute;
    color: #FFFFFF;
    top: 90px;
    left: 45%;
    text-align: center;
}

.bear-box h4 {
    font-weight: 700;
}

.owned-by {
    opacity: 50%;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    position: absolute;
    bottom: 160px;
    left: 40%;
}

.arrow p {
    color: #FFFFFF;
    padding-left: 30px;
    white-space: nowrap;
    position: absolute;
    right: -150px;
}

.arrow img {
    border-radius: 200px;
    padding: 13px;
    background: linear-gradient(115.11deg, #380036 6.12%, #0CBABA 128.27%);
    cursor: pointer;
    position: absolute;
}

.richard, .nfts {
    font-weight: 700;
}

.btns-box-bottom {
    text-align: center;
    position: relative;
}

.video-image, .side-line {
    position: relative;
}

.video-image img {
    position: absolute;
    bottom: 100px;
    left: 70%;
    width: 25%;
    cursor: pointer;
}

.side-line img {
    position: absolute;
    bottom: 380px;
    right: 60px;
}

.m-left {
    margin-left: 30px;
    position: relative;
    left: 90%;
}

.btns {
    position: absolute;
    bottom: 80px;
    left: 25%;
}

.btns span {
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 30px;
    top: 0;
    z-index: -1;
}

.btns span, .bear-box {
    cursor: pointer;
}

.primary-btn.m-left:hover::after {
    content: url('/assets/images/explore-border.svg');
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -15px;
}

/* section two */

.left-outer-content {
    display: inline-block;
}

.heading-line {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 75px;
}

.heading-line h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #FFFFFF;
    margin-right: 50px;
    padding-bottom: 20px;
}

hr {
    width: 105px;
    margin-top: 15px;
}

.text-align {
    text-align: left;
    margin-bottom: 100px;
}

.right-outer-content {
    float: right;
    display: flex;
    align-items: flex-start;
    padding-top: 125px;
}

.right-outer-content a {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #FFFFFF;
}

.right-outer-content a:hover {
    opacity: 0.5;
}

.view {
    margin-right: 100px;
}
  
.cards-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    top: 100px;
    width: 105%;
}

.card {
    background: #16151A;
    height: 700px;
    border-radius: 20px;
    cursor: pointer;
}

.card:not(:last-child) {
    margin-right: 30px;
    margin-left: 0;
}

.flex-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-cont1 {
    max-width: 30%;
    padding-left: 30px;
    position: relative;
}

.inner-cont1 img {
    padding-bottom: 50px;
}

.inner-cont2 {
    max-width: 70%;
    padding: 57px 30px 57px 54px;
}

.inner-cont2 img {
    width: 100%;
    height: 500px;
}

.inner-cont1 p {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #FFFFFF;
    white-space: nowrap;
    padding-bottom: 67px;
}

.special-word {
    font-size: 24px;
    font-weight: 500;
    opacity: 50%;
}

.card-btn {
    width: 150px;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    position: absolute;
    z-index: 999;
}

.date-overflow {
    position: absolute;
    right: 80px;
}

.nfts-border {
    position: relative;
}

.third-card {
    margin-right: -75px;
    width: 120px;
    margin-left: 0;
}

.zig-zag {
    background-image: url("../images/zig-zag-white.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
}